# dependencies
node_modules/

# Firebase/Google Service Keys
./app_backend/utils/olyox-6215a-firebase-adminsdk-fbsvc-35a59196a8.json
./olyox_main_app/google-services.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug/Log files
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS / OS
.DS_Store
Thumbs.db
*.pem

# Local env files
.env*

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/

# CodeGPT plugin or others
.codegpt

# EAS (optional)
.eas/
